* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  html {
    font-size: 8px;
  }
  
  .container {
    width: 100%;
    color: rgb(56, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calendar {
    width: 360px;
    background: rgba(221, 160, 221, 0.2);
    margin: 20px;
  }

  .fas {
    margin: 0px 30px;
    font-size: 1.5rem;
  }
  
  .month {
    width: 100%;
    height: 12rem;
    background-color: rgba(182, 145, 182, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
  }
  
   
  .month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }
  
  .month p {
    font-size: 1.6rem;
  }
  
  .weekdays,
  #weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    
  }

  .weekend {
    background-color:  rgba(221, 160, 221, 0.2);
  }
  
  .weekdays div,
  #weekdays div {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .days,
  #days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }

  .prev-date,
  .next-date {
  opacity: 0.5;
}

.today {
  background-color:  rgba(182, 145, 182, 0.5);
}
  
  .days div,
  #days div {
    font-size: 16px;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .red,
  .red2 {
    background-color: brown;
  }
